.popup__input {
    min-width: 358px;
    margin-right: auto;
    margin-left: auto;
    border: 0;
    font-size: 14px;
    line-height: 1.21;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: black;
    padding: 13px 0;
}

.popup__input:nth-child(1) {
  margin-top: 40px;
}

.popup__input:nth-child(2) {
  margin-top: 17px;
}
  
@media (max-width: 650px) {
  .popup__input {
    min-width: 238px;
  }
  .popup__input:nth-child(1) {
    margin-top: 62px;
  }
}