.profile {
  display: flex;
  margin-top: 40px;
  align-items: center;
}

@media (max-width: 767px) {
  .profile {
    flex-direction: column;
    margin-left: 9%;
    margin-right: 9%;
  }
}

@media (max-width: 375px) {
  .profile {
    flex-direction: column;
    margin-left: 6%;
    margin-right: 6%;
  }
}
