.popup__name {
  width: 358px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  border: 0;
  font-size: 14px;
  line-height: 1.21;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  padding-bottom: 13px;
}

@media (max-width: 650px) {
  .popup__name {
    width: 238px;
    margin-top: 75px;
  }
}