.popup__close-button {
  width: 40px;
  height: 40px;
  background-image: url(../../../images/Close_Icon.svg);
  border: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  padding: 0;
  margin-top: 155px;
  margin-left: 470px;
}

.popup__close-button:hover {
  opacity: 0.5;
  
}

@media (max-width: 650px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    background-size: 100%;
    margin-top: 85px;
    margin-bottom: 13px;
    margin-left: 256px;
  }
}