.element__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 246px;
  width: 100%;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}