.popup__save-button {
  max-width: 358px;
  width: 100%;
  min-height: 50px;
  margin: 48px auto 37px auto;
  background-color: black;
  border-radius: 2px;
  color: white;
  border: 0;
  transition: opacity 0.2s ease-in;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

.popup__save-button:hover {
  opacity: 0.8;
} 

@media (max-width: 650px) {
  .popup__save-button {
    max-width: 238px;
    min-height: 46px;
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 14px;
  }
}