.header__container {
  display: flex;
  height: 74px;
  margin: 0;
  margin-top: 45px;
}

@media (max-width: 1023px) {
  .header__container {
    margin-left: 3%;
    margin-top: 28px;
  }
}

@media (max-width: 767px) {
  .header__container {
    height: 56px;
    margin-left: 9%;
    margin-top: 28px;
  }
}
